# Configurações de E-mail (Obrigatório para o formulário de contato funcionar)
SMTP_HOST=smtp.exemplo.com
SMTP_PORT=465
SMTP_USER=seu-email@exemplo.com
SMTP_PASS=sua-senha
MAIL_TO=renan@dwgranitos.com.br
MAIL_FROM=no-reply@dwgranitos.com.br
